<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>user form</h2>
    <form action="/user/add" method="POST">
        <label>Name:</label>
        <input name="name" type="text" value=""><br></br>
        <label>Email:</label>
        <input name="email"  type="text" value=""><br></br>
        <label>Age:</label>
        <input name="age" type="text" value=""><br></br>
        <label>City:</label>
        <input name="city" type="text" value=""><br></br>
        <label>Profession:</label>
        <input name="profession" type="text" value=""><br></br>
        <input type="submit" value="submit">
    </form>

</body>
</html> 